name: gerenciador_filmes
description: Projeto Flutter de gerenciamento de filmes (CRUD) para atividade final.
publish_to: "none"

version: 1.0.0+1

environment:
  sdk: ">=3.0.0 <4.0.0"

dependencies:
  flutter:
    sdk: flutter

  cupertino_icons: ^1.0.6
  provider: ^6.1.2
  flutter_rating_bar: ^4.0.1
  smooth_star_rating_null_safety: ^1.0.4
  shared_preferences: ^2.3.2

  sqflite: ^2.3.3
  path: ^1.9.0
dev_dependencies:
  flutter_test:
    sdk: flutter
  flutter_lints: ^4.0.0

flutter:
  uses-material-design: true
